* {
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid #4c5c9a;
}

.title-style {
  font-family: AdobeHeitiStd-Regular;
  font-size: 47px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 133px;
  letter-spacing: 7px;
  color: #ffffff;
}